.home {
  min-height: 100vh;
  width: 100%;
}

.first-screen {
  background-image: url("Madvillainy.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-wrapper {
  background-color: gray;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
  line-height: 2.25rem;
}

.title-wrapper {
  position: absolute;
  color: #ffb200;
  left: 0;
  bottom: 0;
}

.m {
  width: 89.827px;
  height: 62.489px;
}

.myweb {
  font-weight: 100;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 89px;
}

.about {
  height: 1000px;
}

@media (min-width: 1160px) {
  .myweb {
    font-size: 230px;
    letter-spacing: 3.39px;
  }

  .m {
    width: 231px;
    height: 162px;
  }
}

@media (min-width: 960px) {
  .text-wrapper {
    font-size: 2.625rem;
    line-height: 3rem;
  }

  .myweb {
    font-size: 215px;
  }

  .m {
    width: 218px;
    height: 152px;
  }
}
