/* Navbar.css */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #e94b1d;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}
